@import "tailwindcss";

:root {
  --c-bg-950: 2 6 23;
  --c-bg-900: 15 23 42;
  --c-bg-800: 30 41 59;
  
  --c-text-700: 51 65 85;
  --c-text-600: 71 85 105;
  --c-text-500: 100 116 139;
  --c-text-400: 148 163 184;
  --c-text-300: 203 213 225;
  --c-text-200: 226 232 240;
  --c-text-100: 241 245 249;

  --c-white: 255 255 255;
}

.theme-light {
  --c-bg-950: 248 250 252;
  --c-bg-900: 255 255 255;
  --c-bg-800: 241 245 249;

  --c-text-700: 203 213 225;
  --c-text-600: 148 163 184;
  --c-text-500: 100 116 139;
  --c-text-400: 71 85 105;
  --c-text-300: 51 65 85;
  --c-text-200: 15 23 42;
  --c-text-100: 2 6 23;

  --c-white: 0 0 0;
}

.theme-solarized {
  --c-bg-950: 0 43 54;
  --c-bg-900: 7 54 66;
  --c-bg-800: 88 110 117;

  --c-text-700: 101 123 131;
  --c-text-600: 131 148 150;
  --c-text-500: 147 161 161;
  --c-text-400: 147 161 161;
  --c-text-300: 238 232 213;
  --c-text-200: 253 246 227;
  --c-text-100: 255 255 255; 

  --c-white: 238 232 213;
}
